body {
    background-color: #002d62;
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.page {
    header {
        padding: 20px;
        text-align: right;
        border-bottom: 1px solid #ffffff;

        a {
            margin-left: 40px;
        }
    }
}
