.main {
    main {
        text-align: center;

        table {
            width: 100%;
            margin-bottom: 50px;
        }

        th,
        td {
            font-size: 2em;
            width: 33.33%;
            line-height: 3em;
        }

        th {
            font-size: 1.25em;
        }

        span {
            cursor: pointer;
            user-select: none;
        }
    }
}
