.about {
    main {
        text-align: left;
        padding: 10px;

        hr {
            border: none;
            border-bottom: 1px dotted #ffffff;
        }

        p {
            line-height: 1.5em;
        }
    }
}
